<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="MessageDB" connectionString="mongodb://{usuario}:{senha}@ds125616.mlab.com:25616/messagedatabase"/>
  </connectionStrings>
  
  <system.serviceModel>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="IncludeExceptionDetails">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <services>
      <service name="WCF.MessageReader.MessageInboundMessageHandlerService">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\flowmessage" binding="msmqIntegrationBinding" bindingConfiguration="IncomingMessageHandlerBinding" contract="WCF.MessageReader.IInboundMessageHandlerService" />
      </service>
    </services>
    
    <bindings>
      <msmqIntegrationBinding>
        <binding name="IncomingMessageHandlerBinding" closeTimeout="00:30:00" receiveTimeout="01:00:00" retryCycleDelay="00:00:10" receiveRetryCount="0" exactlyOnce="true" maxRetryCycles="3">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
    
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>